/*
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* padding-bottom: 1000px; */
  color: #000;
  margin: 0;
}

nav {
  background-color: #000;
  color: peachpuff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
  list-style-type: none;
  margin: 0;
}

nav ul .title {
  font-size: 2rem;
  margin-right: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

li a {
  list-style-type: none;
  color: peachpuff;
  text-decoration: none;
  padding: 0 25px;
}

.contact {
  margin-right: 20px;
}

.truck-icon {
  width: 105px;
  height: 105px;
  vertical-align: middle;
  margin-right: 15px;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-size: 20px;
  color: #000;
  line-height: 1.5;
  font-weight: bold;
}

.food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 80px;
}

.one p {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.one a {
  border: none;
  color: peachpuff;
}

a {
  text-decoration: none;
  color: peachpuff;
}

.abouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}

.abouts p {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  line-height: 1.8;
}

.trucks-icon {
  width: 305px;
  height: 305px;
  vertical-align: middle;
  margin: 0 65px;
  border-radius: 50%;
}

.food-truck-menu {
  background-color: peachpuff;
}

/* Center the image in the middle of the screen */
.menu-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.food-menu-picture {
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 70px;
  border: 5px solid #000;
  border-radius: 10px;
}

.menu {
  background-color: gray;
  padding-bottom: 30px;
}

h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 50px;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: #000;
  border: 3px solid peachpuff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;
}

.menu-item h3 {
  /* margin: 0; */
  /* padding-top: -90px; */
  font-size: 1.75rem;
  text-align: center;
  color: peachpuff;
}

.menu-item p {
  /* margin: 0; */
  /* padding: 0; */
  font-size: 1.2rem;
  text-align: center;
  color: peachpuff;
}

#menu {
  text-align: center;
  padding-top: 50px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding: 50px 0;
  font-size: 1.3rem;
}

footer p {
  color: peachpuff;
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

@media (min-width: 914px) and (max-width: 1199px) {
  nav ul .title {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .abouts p {
    padding-right: 20px;
  }
}

@media (max-width: 913px) {
  nav ul li {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    /* background-color: transparent; */
  }

  h1 {
    font-size: 2.5rem;
  }

  nav ul .title {
    margin-right: 0;
    margin-bottom: 20px;
  }

  nav ul li {
    margin: 0;
    font-size: 1.5rem;
  }

  nav ul li a {
    padding: 10px 0;
    border-bottom: 1px solid peachpuff;
    width: 100%;
    text-align: center;
    text-decoration: none;
    list-style: none;
  }

  .menu-container {
    grid-template-columns: 1fr 1fr;
  }

  .food-image {
    margin-top: 210px;
  }
}

@media (min-width: 490px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Push the title class to the left of the document */
  nav ul .title {
    position: absolute;
    left: 0;
    margin-left: 10px;
  }

  .truck-icon {
    width: 40px;
    height: 40px;
    margin-top: 25px;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-left: -20px;
  }

  .food-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .one div {
    padding: 0;
    margin: 0;
  }

  nav {
    position: relative;
    padding: 50px 0;
  }

  /* Center the links in the nav */
  nav ul {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
  }

  nav ul li {
    font-size: 1rem;
    margin-left: 10px;
  }

  .contact {
    margin-right: 0;
  }

  .abouts {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 0;
  }

  .abouts p {
    font-size: 1rem;
    padding: 0px 15px;
  }

  .menu-picture {
    padding: 0 15px;
  }

  .food-truck-menu {
    width: 100%;
  }

  .food-menu-picture {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 70px;
    border: 5px solid #000;
    border-radius: 10px;
  }

  .menu-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 489px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Push the title class to the left of the document */
  nav ul .title {
    position: absolute;
    left: 0;
    margin-left: 10px;
  }

  .truck-icon {
    width: 40px;
    height: 40px;
    margin-top: 35px;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: -40px;
    margin-left: 75px;
  }

  .food-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .one div {
    padding: 0;
    margin: 0;
  }

  nav {
    position: relative;
    padding: 40px 0;
  }

  /* Center the links in the nav */
  nav ul {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
  }

  nav ul li {
    font-size: 1rem;
    margin-left: 10px;
  }

  .contact {
    margin-right: 0;
  }

  .abouts {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 0;
  }

  .abouts p {
    font-size: 1rem;
    padding: 0px 15px;
  }

  .menu-picture {
    padding: 0 15px;
  }

  .food-truck-menu {
    width: 100%;
  }

  .food-menu-picture {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 70px;
    border: 5px solid #000;
    border-radius: 10px;
  }

  .menu-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}
*/
